.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #2563eb;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

button.btn {
  background: #16a34a;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
}

.footer {
  margin-top: 40px;
  padding: 15px;
  text-align: center;
  background-color: #111;
  color: #fff;
}

.footer span {
  display: block;
  font-size: 12px;
  color: #bbb;
}

.dashboard-cards {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.dashboard-cards .card {
  flex: 1;
  text-align: center;
  padding: 20px;
  background: #f1f5f9;
  cursor: pointer;
}

.home {
  text-align: center;
  margin-top: 60px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 16px;
  color: #555;
}

.hero-buttons {
  margin-top: 20px;
}


.btn {
  padding: 10px 18px;
  border-radius: 4px;
  text-decoration: none;
  margin: 0 8px;
  display: inline-block;
}

.primary {
  background-color: #2563eb;
  color: white;
}

.secondary {
  background-color: #16a34a;
  color: white;
}

.notfound {
  text-align: center;
  margin-top: 80px;
}

.notfound h1 {
  font-size: 80px;
  color: #2563eb;
}

.notfound p {
  color: #555;
  margin-bottom: 20px;
}

.container {
  padding: 20px;
}

.container h2 {
  margin-bottom: 20px;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
